<div class="row">
    <div class="col">
        <h1>Fitness tracker</h1>
    </div>
</div>
<div class="row">
    <a class="btn-floating btn-large waves-effect waves-light red col-1 create-workout"><i class="material-icons">add</i></a>
    <div class="input-field col s6">
        <input placeholder="Hella cardio" type="text" class="create-workout-input">
        <label for="first_name">Create a new workout</label>
    </div>
</div>
{{#each workout}}
    <div class="row workout" id={{_id}}>
        <div class="row">
            <div class="col">
                <h3>{{name}}</h3>
            </div>
        </div>
        <div class="col-6 ">
            <div class="glider-contain row">
                <a class="waves-effect waves-light btn create-drill" data-workoutid={{_id}}>New Exercise</a>
                    <div class="glider">
                        {{#each drill}}
                            <div class="col s12">
                                
                            </div>
                    </div>
                
                
                <button aria-label="Previous" class="glider-prev">«</button>
                <button aria-label="Next" class="glider-next">»</button>
                <div role="tablist" class="dots"></div>
            </div>
        </div> 
    </div>
{{/each}}