<div class="row">
    <div class="col-6">
        <h1>workout bruh</h1>
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
    </div>
</div>
<div class="row workout">
    <div class="col-6 ">
        <div class="glider-contain">
            <h2>Workout name<a><i class="material-icons">create</i></a></h2> 
            <a class="waves-effect waves-light btn">New Exercise</a>
            <div class="glider">
                <div class="row drill">
                    <div class="col s12">
                    <div class="card-panel teal">
                        <h5 class="white-text">Exercise Title</h5>
                        <span class="white-text">Add some exercises to your workout. Start by editing this one as your first exercise, then use the "New Exercise" button to add more to your workout"
                        </span>
                        <br>
                        <a class="waves-effect waves-teal btn-flat">Edit</a>
                        <a class="waves-effect waves-teal btn-flat">delete</a>
                    </div>
                    </div>
                </div>
            </div>
            <button aria-label="Previous" class="glider-prev">«</button>
            <button aria-label="Next" class="glider-next">»</button>
            <div role="tablist" class="dots"></div>
        </div>
    </div> 
</div>