<div class="row">
    <div class="col-8">
        
    </div>
    <h1>Hey</h1>
    <div class="glider-contain workout">
        <div class="glider">
            <div class="row drill">
                <div class="col s12">
                <div class="card-panel teal">
                    <span class="white-text">I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
                    </span>
                </div>
                </div>
            </div> 
        </div>
        <button aria-label="Previous" class="glider-prev">«</button>
        <button aria-label="Next" class="glider-next">»</button>
        <div role="tablist" class="dots"></div>
    </div>
</div>
