.banner {
  font-family: 'Lobster', cursive;
  background-color: #E4E4E4;
  width: 100%;
}
.card-panel {
  max-width: 300px;
  border-radius: 5%;
  margin: .5em auto
}
.container {
  font-family: 'Poppins', sans-serif;
}
@media only screen and (min-width: 600px) {
  .btn-floating{
    margin-top: 50px;
  }
}
